[core]
	editor = vim
	hooksPath = ~/workspace/projects/dotfiles/github_hooks
[commit]
	gpgsign = true
[gpg]
  program = gpg
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[web]
  browser = open
[difftool]
  prompt = 0
[alias]
	st = status
	co = checkout
	br = branch
	sb = branch -a
	mt = mergetool
	d = difftool
	dst = diff --staged
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Thiago Leoncio Scherrer
	email = eu@thiago.info
	signingkey = 6952096DABF9F138
[init]
	templateDir = ~/workspace/projects/dotfiles/github_hooks/
